In [69]:
import pandas
data=pd.read_csv('sports_calendar_2021.csv')
today = pd.to_datetime("today")
day=today.date()
data.running=data.running.replace(data.running[df.date==str(day)],10)
data.cycling=data.cycling.replace(data.cycling[df.date==str(day)],0)
data.workout=data.workout.replace(data.workout[df.date==str(day)],1)
data.to_csv('sports_calendar_2021.csv',index=0)
data.head(10)

         date  day  month  week  year  running  cycling  workout
0  2021-01-01    1      1    53  2021        0        0        1
1  2021-01-02    2      1    53  2021        0       42        0
2  2021-01-03    3      1    53  2021       10        0        0
3  2021-01-04    4      1     1  2021        0        0        1
4  2021-01-05    5      1     1  2021       10        0        0
5  2021-01-06    6      1     1  2021       10        0        1
6  2021-01-07    7      1     1  2021        0        0        0
7  2021-01-08    8      1     1  2021        0        0        0
8  2021-01-09    9      1     1  2021        0        0        0
9  2021-01-10   10      1     1  2021        0        0        0

In [ ]:
# def create_date_table(start='2021-01-01', end='2021-12-31'):
    
#     df = pd.DataFrame({"date": pd.date_range(start, end)})
#     df["day"] = df.date.dt.day
#     df["month"] = df.date.dt.month
#     df["week"] = df.date.dt.weekofyear
#     #df["quarter"] = df.date.dt.quarter
#     df["year"] = df.date.dt.year
#     #df.insert(0, 'date_id', (df.year.astype(str) + df.month.astype(str).str.zfill(2) + df.day.astype(str).str.zfill(2)).astype(int))
#     return df
# df=create_date_table()
# df.to_csv('sports_calendar_2021.csv',index=0)